.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  margin: 0;
  background-color: #fcf5e5;
}

.footer__content {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Regular */
  font-size: 16px;
  line-height: 100%; /* equals 16px line height */
  letter-spacing: 0;
  color: rgba(33, 33, 33, 0.7); /* #212121 at 70% opacity */
  width: 104px; /* only if you need fixed width */
  height: 16px;
}
