.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}
.modal__close-btn-img {
  opacity: 50%;
}
.modal__submit-btn {
  border-radius: 8px;
  height: 52px;
  width: 156px;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
}

.modal__title {
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  color: #212121;
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 0 16px 12px;
  border-radius: 8px;
}

.modal__input::placeholder {
  color: #2121214d;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
}

@media screen and (max-width: 627px) {
  .modal__submit-btn {
    width: 100%;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }
  .modal__title {
    font-size: 20px;
  }
}
